$card-width-mobile: 327px;

//colors
$moderate-violet: hsl(263, 55%, 52%);
$dark-grayish: hsl(217, 19%, 35%);
$dark-blackish: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$light-gray-50: hsla(0, 0%, 81%, 0.5);
$grayish-blue: hsl(210, 46%, 95%);
$grayish-blue-70: hsla(210, 46%, 95%, 0.7);
