.grid-container {
	display: grid;
	grid-template-columns: $card-width-mobile;
	grid-template-areas:
		'daniel'
		'jonathan'
		'jeanette'
		'patrick'
		'kira';
	justify-items: center;
	gap: 2rem;

	@media (min-width: 1110px) {
		gap: 30px;
		grid-template-columns: repeat(4, 255px);
		grid-template-areas:
			'daniel daniel jonathan kira'
			'jeanette patrick patrick kira';
	}
}
